<!DOCTYPE html>
<html>
<head>
    <title>
        <%=title %>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" href="lib/material-design-lite/material.min.css">
        <script src="lib/material-design-lite/material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </title>
</head>
<body>
<% for(var i in messages) { %>
<div class="flash"><%= messages[i] %></div>
<% } %>
<form action="/signin" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username" />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <input type="submit" value="Sign In" />
    </div>
</form>
<a href="/oauth/facebook">Sign in with Facebook</a>
<br/>
<a href="/oauth/twitter">Sign in with Twitter</a>
</body>
</html>